*{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.box{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 700px;
    align-items: center;
}
.heading{
    font-size: 2.25em;
    font-weight: 600;
}
.about_info{
    font-weight: 500;
    margin-top: 20px;
}